In [1]:
#import require libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
#load data set
data = pd.read_csv('Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
#Separate label and feature 
X=data.iloc[:, [2,3]].values
Y=data.iloc[:,4].values

In [4]:
#check X data shape
X.shape

(400, 2)

In [5]:
#check X data shape
Y.shape

(400,)

In [6]:
#split data set
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [7]:
#check X_Train data shape
X_Train.shape

(300, 2)

In [8]:
#check  X_Test data shape
X_Test.shape

(100, 2)

In [9]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

In [10]:
# Fitting the Logistic Regression into the Training set
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_Train, Y_Train)

SVC(kernel='linear', random_state=0)

In [11]:
# Predicting the test set results
Y_Pred = classifier.predict(X_Test)

In [12]:
print(confusion_matrix(Y_Test, Y_Pred))

[[66  2]
 [ 8 24]]

In [13]:
print(classification_report(Y_Test, Y_Pred))

              precision    recall  f1-score   support

           0       0.89      0.97      0.93        68
           1       0.92      0.75      0.83        32

    accuracy                           0.90       100
   macro avg       0.91      0.86      0.88       100
weighted avg       0.90      0.90      0.90       100