# Remove punctuation an symbols

In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\administrator\anaconda3\lib\site-packages (3.6.5)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: click in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\administrator\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\administrator\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [2]:
punctuations='''!()-[]{};:'"\,<>./?@#$^&*_~'''

In [3]:
my_str="Hello!!, he said ---and went."


#remove punctuation from the string
no_punct=""
for char in my_str:
    if(char not in punctuations):
        no_punct= no_punct + char

In [4]:
no_punct

'Hello he said and went'

In [5]:
#use regular expression

In [6]:
import re
s= re.sub(r'[^\w\s]', '', my_str)

In [7]:
s

'Hello he said and went'

# Tokenize the Sentence

In [8]:
import nltk

In [9]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [10]:
nltk.word_tokenize("Hello how are you")

['Hello', 'how', 'are', 'you']

another way tokenize the sentence

In [11]:
s="Hello how are you"

In [12]:
s.split()

['Hello', 'how', 'are', 'you']

In [13]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# remove stopwords

In [14]:
stopwords=nltk.corpus.stopwords.words("english")
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [15]:
stopwords.append('work')
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'work']

# Stemming

In [16]:
from nltk.stem import PorterStemmer
stemmer= PorterStemmer()
input_str="There are several types of stemming algorithms."
input_str= nltk.word_tokenize(input_str)
for word in input_str:
    print(stemmer.stem(word))

there
are
sever
type
of
stem
algorithm
.

# Lemmatization

In [17]:
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()
input_str="been had done languages cities mice"
input_str= nltk.word_tokenize(input_str)
for word in input_str:
    print(lemmatizer.lemmatize(word))

been
had
done
language
city
mouse

In [18]:
sample_lines="A broom is drearily sweeping. Up the broken pieces of yesterdays life. Somewhere a queen is weeping. Somewhere a king has no wife. And the wind, it cries Mary"

In [19]:
from nltk.tokenize import word_tokenize

# Loop through each line of text and tokenize
sample_lines_tokenized = [word_tokenize(line) for line in sample_lines]

In [20]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
text = nltk.tokenize.sent_tokenize(sample_lines)

In [22]:
text

['A broom is drearily sweeping.',
 'Up the broken pieces of yesterdays life.',
 'Somewhere a queen is weeping.',
 'Somewhere a king has no wife.',
 'And the wind, it cries Mary']

In [23]:
#tokenized_sents = [word_tokenize(i) for i in text]
#for i in tokenized_sents:
 #   print(i)

In [24]:
#tokenized_sents

In [25]:
#text=[[' '.join(i)] for i in tokenized_sents]
#text

In [26]:
import pandas as pd
data = pd.DataFrame({'Sentence':text})

In [27]:
data.dtypes

Sentence    object
dtype: object

In [28]:
df=data

In [29]:
# lemmatizer=WordNetLemmatizer()
# for index,row in df.iterrows():
#     filter_sentence=[]
#     sentence=row['Sentence']
#     sentence=re.sub(r'[^\w\s]','',sentence)#cleaning
#     words= nltk.word_tokenize(sentence)#tokenization
#     words=[w for w in words if not w in stopwords] # stopwords removel
#     for word in words:
#         filter_sentence.append(lemmatizer.lemmatize(word))
#     print(filter_sentence)
#     df.loc[index,'Sentence']=filter_sentence

In [30]:
data

                                   Sentence
0             A broom is drearily sweeping.
1  Up the broken pieces of yesterdays life.
2             Somewhere a queen is weeping.
3             Somewhere a king has no wife.
4               And the wind, it cries Mary

In [31]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
def remove_punctuation(text):
    punc_free="".join([i for i in text if i not in string.punctuation])
    return punc_free

In [33]:
data["mg_remover"]=data['Sentence'].apply(lambda x: remove_punctuation(x))
data

,Sentence,mg_remover
0,A broom is drearily sweeping.,A broom is drearily sweeping
1,Up the broken pieces of yesterdays life.,Up the broken pieces of yesterdays life
2,Somewhere a queen is weeping.,Somewhere a queen is weeping
3,Somewhere a king has no wife.,Somewhere a king has no wife
4,"And the wind, it cries Mary",And the wind it cries Mary

In [34]:
def tokenization(text):
    token=text.split()
    return token

In [35]:
data["tokenization"]=data["mg_remover"].apply(lambda x: tokenization(x))
data

,Sentence,mg_remover,tokenization
0,A broom is drearily sweeping.,A broom is drearily sweeping,"[A, broom, is, drearily, sweeping]"
1,Up the broken pieces of yesterdays life.,Up the broken pieces of yesterdays life,"[Up, the, broken, pieces, of, yesterdays, life]"
2,Somewhere a queen is weeping.,Somewhere a queen is weeping,"[Somewhere, a, queen, is, weeping]"
3,Somewhere a king has no wife.,Somewhere a king has no wife,"[Somewhere, a, king, has, no, wife]"
4,"And the wind, it cries Mary",And the wind it cries Mary,"[And, the, wind, it, cries, Mary]"

In [36]:
stopwords=nltk.corpus.stopwords.words("english")

In [37]:
def remove_stopword(text):
    output=[i for i in text if i not in stopwords]
    return output

In [38]:
data["mg_stopword"]=data['tokenization'].apply(lambda x: remove_stopword(x))
data

,Sentence,mg_remover,tokenization,mg_stopword
0,A broom is drearily sweeping.,A broom is drearily sweeping,"[A, broom, is, drearily, sweeping]","[A, broom, drearily, sweeping]"
1,Up the broken pieces of yesterdays life.,Up the broken pieces of yesterdays life,"[Up, the, broken, pieces, of, yesterdays, life]","[Up, broken, pieces, yesterdays, life]"
2,Somewhere a queen is weeping.,Somewhere a queen is weeping,"[Somewhere, a, queen, is, weeping]","[Somewhere, queen, weeping]"
3,Somewhere a king has no wife.,Somewhere a king has no wife,"[Somewhere, a, king, has, no, wife]","[Somewhere, king, wife]"
4,"And the wind, it cries Mary",And the wind it cries Mary,"[And, the, wind, it, cries, Mary]","[And, wind, cries, Mary]"

In [39]:
from nltk.stem import PorterStemmer
porte_stemmer= PorterStemmer()

In [40]:
def stemmer(text):
    stem_text=[porte_stemmer.stem(word) for word in text]
    return stem_text

In [41]:
data["mg_stem"]=data["mg_stopword"].apply(lambda x: stemmer(x))

In [42]:
data

,Sentence,mg_remover,tokenization,mg_stopword,mg_stem
0,A broom is drearily sweeping.,A broom is drearily sweeping,"[A, broom, is, drearily, sweeping]","[A, broom, drearily, sweeping]","[a, broom, drearili, sweep]"
1,Up the broken pieces of yesterdays life.,Up the broken pieces of yesterdays life,"[Up, the, broken, pieces, of, yesterdays, life]","[Up, broken, pieces, yesterdays, life]","[up, broken, piec, yesterday, life]"
2,Somewhere a queen is weeping.,Somewhere a queen is weeping,"[Somewhere, a, queen, is, weeping]","[Somewhere, queen, weeping]","[somewher, queen, weep]"
3,Somewhere a king has no wife.,Somewhere a king has no wife,"[Somewhere, a, king, has, no, wife]","[Somewhere, king, wife]","[somewher, king, wife]"
4,"And the wind, it cries Mary",And the wind it cries Mary,"[And, the, wind, it, cries, Mary]","[And, wind, cries, Mary]","[and, wind, cri, mari]"

In [43]:
from nltk.stem import WordNetLemmatizer
wordnet=WordNetLemmatizer()

In [44]:
def lemmatize(text):
    wnl=[wordnet.lemmatize(word) for word in text]
    return wnl

In [45]:
data["mg_lemmatize"]=data["mg_stopword"].apply(lambda x: lemmatize(x))

In [46]:
data

,Sentence,mg_remover,tokenization,mg_stopword,mg_stem,mg_lemmatize
0,A broom is drearily sweeping.,A broom is drearily sweeping,"[A, broom, is, drearily, sweeping]","[A, broom, drearily, sweeping]","[a, broom, drearili, sweep]","[A, broom, drearily, sweeping]"
1,Up the broken pieces of yesterdays life.,Up the broken pieces of yesterdays life,"[Up, the, broken, pieces, of, yesterdays, life]","[Up, broken, pieces, yesterdays, life]","[up, broken, piec, yesterday, life]","[Up, broken, piece, yesterday, life]"
2,Somewhere a queen is weeping.,Somewhere a queen is weeping,"[Somewhere, a, queen, is, weeping]","[Somewhere, queen, weeping]","[somewher, queen, weep]","[Somewhere, queen, weeping]"
3,Somewhere a king has no wife.,Somewhere a king has no wife,"[Somewhere, a, king, has, no, wife]","[Somewhere, king, wife]","[somewher, king, wife]","[Somewhere, king, wife]"
4,"And the wind, it cries Mary",And the wind it cries Mary,"[And, the, wind, it, cries, Mary]","[And, wind, cries, Mary]","[and, wind, cri, mari]","[And, wind, cry, Mary]"

In [48]:
input_str = "The 5 biggest countries by population in 2017 are China, India, United States, Indonesia, and Brazil."

In [49]:
input_str

'The 5 biggest countries by population in 2017 are China, India, United States, Indonesia, and Brazil.'

convert lower

In [52]:
input=input_str.lower()
input

'the 5 biggest countries by population in 2017 are china, india, united states, indonesia, and brazil.'

remove digit

In [54]:
import re
input=re.sub("\d",'',input)
input

'the  biggest countries by population in  are china, india, united states, indonesia, and brazil.'

remove punctuation

In [60]:
import re
input=re.sub(r'[^\w\s]','',input)
input

'the  biggest countries by population in  are china india united states indonesia and brazil'

tokenize

In [61]:
input=input.split()

In [63]:
print(input)

['the', 'biggest', 'countries', 'by', 'population', 'in', 'are', 'china', 'india', 'united', 'states', 'indonesia', 'and', 'brazil']

stop words remove

In [65]:
import nltk
stopwords= nltk.corpus.stopwords.words("english")
result_input=[i for i in input if i not in stopwords]
print(result_input)

['biggest', 'countries', 'population', 'china', 'india', 'united', 'states', 'indonesia', 'brazil']

stemming

In [66]:
from nltk.stem import PorterStemmer
porter_stemmer= PorterStemmer()
for word in result_input:
    print(porter_stemmer.stem(word))

biggest
countri
popul
china
india
unit
state
indonesia
brazil

In [67]:
print(result_input)

['biggest', 'countries', 'population', 'china', 'india', 'united', 'states', 'indonesia', 'brazil']

lemmatization

In [69]:
from nltk.stem import WordNetLemmatizer
wnl= WordNetLemmatizer()
for word in result_input:
    print(wnl.lemmatize(word))

biggest
country
population
china
india
united
state
indonesia
brazil